.filter {
    display: none;
  }
  .filter__list {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;   
    .buttons:not(:last-child) {
      margin-right: 8px;
    }
    @media screen and (min-width:768px) {
      flex-wrap: nowrap;
      margin-bottom: 30px;
      justify-content: center;    
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin-bottom: 50px;
      justify-content: center;
    }
  }
  .button__filter {
    font-family: "Roboto";
    background: var(--filter-color);
    border-radius: 4px;
    border: var(--filter-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding: 6px 22px;
    cursor: pointer;
  
    /*trensmition*/
    transition-property: background, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background: var(--accent-color);
        /* shadow-middle */
      
        box-shadow: 0px 3px 1px var(--box-shadow-one),
          0px 1px 2px var(--box-shadow-two), 0px 2px 2px var(--box-shadow-three);
      
        color: var(--white-color);
    }
    @media screen and (max-width:797px) {
      margin-bottom: 15px;
    }
  }