.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    @media screen and (max-width:1199px) {
      font-size: 24px;
      
    }
  }
  .logo__part-footer {
    color: var(--white-color);
  }
  .logo__part-header {
    color: var(--black);
  }