.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: flex;
  }

.header__contact-list {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 767px) 
  {display: none;}

  @media screen and (min-width:768px) and (max-width:1199px) {
    flex-direction: column;
    gap: 10px;
    align-items:flex-start;
    margin: 0;
    justify-content: center;
}
    
}

.header-contact {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  color: var(--grey-accent);
  text-decoration: none;
  /*transmition*/
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);

  } 
  @media screen and (min-width:768px) and (max-width:1199px) {
    font-size: 12px;
    max-width: 138px;
  }
  @media screen and (min-width: 1200px){
  padding-top: 32px;
  padding-bottom: 32px;}
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}