.team {
  background: var(--grey-background);
}
.team__title {
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.2;
    /* identical to box height */
  }

  @extend %title;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team__card {
  max-width: 450px;
  width: 100%;
  

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.team__member {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.team__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--grey-accent);
}
.team__social-links {
  margin: 0 auto;
  display: flex;
  margin-top: 16px;
  gap: 10px;
  max-width: 206px;
}

.team__social-link {
  display: flex;
  color: var(--social-links);
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  /*transmition*/
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
  &:hover,
  &:focus {
    color: var(--white-color);
    fill: currentColor;
    background-color: var(--accent-color);}
  }
}
